@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Space+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s all ease-in-out;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}
.dark {
    display: none;
}
#previewHtmlContent {
    z-index: 0;
    overflow: hidden;
    zoom: 200%;
}
form {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}
.campos {
    width: 100%;
}

input {
    margin-bottom: 0.6rem !important;
}
.campos input, .campos textarea, select {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem;
    display: block;
    border: 1px solid;
    width: 80%;
}
textarea {
    transition: none;
    height: fit-content;
}
.campos label, fieldset {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
fieldset {
    display: flex;
}

.cliente {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.cliente div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.cliente div input {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
}
.clientNUM, .clientID {
    width: 38.71px !important;
}
#price {
    margin: 0 auto !important;
}
.priceL {
    margin: 0 auto;
}

i.bi-whatsapp {
    color: darkgreen;
}
i.bi-telephone {
    color: rgb(100, 100, 100);
}

@media (max-width:480px) {
    body {
        height: auto;
        overflow: scroll;
        display: block;
    }
}